In [1]:
import ibm_db

In [2]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "yzl86196"        # e.g. "abc12345"
dsn_pwd = "hkitcDW59mZiLKfH"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"            # e.g. "BLUDB"
dsn_port = "31864"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

In [22]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  yzl86196 on host:  21fecfd8-47b7-4937-840d-d791d0218660.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [23]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [24]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20) ,LNAME VARCHAR(20), CITY VARCHAR(20), CCODE  CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

In [25]:
insertQuery = "INSERT INTO INSTRUCTOR VALUES (1,'RAV','AHUJA','TORONTO','CA')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [26]:
insertQuery1 = "INSERT INTO INSTRUCTOR VALUES (2,'RAHUL','CHONG','MARKAM','CA')"

#execute the insert statement
insertStmt1 = ibm_db.exec_immediate(conn, insertQuery1)

In [27]:
insertQuery2 = "INSERT INTO INSTRUCTOR VALUES (3,'HIMA','DASH','CALGARY','CA')"

#execute the insert statement
insertStmt1 = ibm_db.exec_immediate(conn, insertQuery2)

In [31]:
SELECT_QUERY="SELECT * FROM INSTRUCTOR";

SELECTE_STMT=ibm_db.exec_immediate(conn,SELECT_QUERY)

ibm_db.fetch_both(SELECTE_STMT)

{'ID': 1,
 0: 1,
 'FNAME': 'RAV',
 1: 'RAV',
 'LNAME': 'AHUJA',
 2: 'AHUJA',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [35]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(SELECTE_STMT) != False:
   print (" ID:",  ibm_db.result(SELECTE_STMT, 0), " FNAME:",  ibm_db.result(SELECTE_STMT, "FNAME"))

 ID: 2  FNAME: RAHUL
 ID: 3  FNAME: HIMA

In [37]:
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [38]:
import pandas
import ibm_db_dbi

In [39]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [40]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'AHUJA'

In [41]:
#print the entire data frame
pdf

   ID  FNAME  LNAME     CITY CCODE
0   1    RAV  AHUJA  TORONTO    CA
1   2  RAHUL  CHONG   MARKAM    CA
2   3   HIMA   DASH  CALGARY    CA

In [42]:
pdf.shape

(3, 5)

In [43]:
ibm_db.close(conn)

True